@schwerelos_pink: #F70069;

.pageRaveContainer {
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-image: linear-gradient(90deg, black, rgb(41,32,189) 70%);

    .RaveContainer {
       // width: min(90vw, 1500px);
    }

}
