.containerLink {
    padding: 5px 5px 5px 5px;

    .link {
        display: inline-flex;
        padding: 0 10px 0 10px;
        cursor: pointer;

        .logoInsta {
            width: 1.6em;
            margin-bottom: 4px;
        }

        .logoLinkTree {
            width: 2em;
        }

        .logoRa {
            width: 2.4em;
            margin-bottom: 8px;
        }

        .logoTelegram {
            width: 1.8em;
            margin-right: 10px;
            margin-bottom: 4px;
        }

        .logoSoundcloud {
            width: 1.8em;
            margin-right: 10px;
            margin-bottom: 4px;
        }
    }
}