.marquee-container {
width: 100vw;
max-height: 20px;
overflow: hidden;
position: absolute;
bottom: 30px;
left: 0;
letter-spacing: 3px;
font-size: 18px;

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #2BC487;
    }

    a:hover:nth-child(4n) {

        color: #9F44D9;
    }

    a:hover:nth-child(3n) {
        color: #F70069;
    }

    .opacity {
        opacity: .5;
    }
}