@schwerelos-green: #2BC487;
@schwerelos-purple: #9F44D9;
@schwerelos-pink: #F70069;

.marquee-container {
width: 100vw;
max-height: 20px;
overflow: hidden;
position: absolute;
bottom: 30px;
left: 0;
letter-spacing: 3px;
font-size: 18px;

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: @schwerelos-purple;
    }

    a:hover:nth-child(3n-1) {

        color: @schwerelos-green;
    }

    a:hover:nth-child(3n) {
        color: @schwerelos-pink;
    }

    .title {
        opacity: .5;
        cursor: pointer;
        &:hover {
            opacity: 1;
            text-decoration: underline;
        }        
    }

    .opacity {
        opacity: .5;
    }
}