@cube-face-width: 100vw;
@cube-face-height: 100vh;

.cubeContainer {
  width: @cube-face-width;
  height: @cube-face-height;
  border: 1px solid #CCC;
  perspective: calc(@cube-face-width * 2);

  .cube {
    width: @cube-face-width;
    height: @cube-face-height;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(calc((@cube-face-width / 2) * -1));
  }

  .cube.show-right  { transform: translateZ(calc((@cube-face-width / 2) * -1)) rotateY( -90deg); }
  .cube.show-left   { transform: translateZ(calc((@cube-face-width / 2) * -1)) rotateY(  90deg); }

  .cube__face {
    position: absolute;
    width: @cube-face-width;
    height: @cube-face-height;
  }

  .cube__face--front  { transform: rotateY(  0deg) translateZ(calc(@cube-face-width / 2)); }
  .cube__face--right  { transform: rotateY( 90deg) translateZ(calc(@cube-face-width / 2)); }
  .cube__face--left   { transform: rotateY(-90deg) translateZ(calc(@cube-face-width / 2)); }

}