@schwerelos_green: #2BC487;
@schwerelos_purple: #9F44D9;
@schwerelos_pink: #F70069;

.artistPageContainer {
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: @schwerelos_green;
    background-image: linear-gradient(to bottom left, darken(@schwerelos_green, 35%), @schwerelos_green 50%, darken(@schwerelos_green, 35%));

    .backgroundOpacity {
        display: block;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100vw;
        height: 100vh;
        opacity: .7;
    } 

    .artistContainer {
        z-index: 2;
        position: relative;  

        .artistCarousel {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed;  
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;

            .artist { 
                box-sizing: border-box;
                width: 75vw;
                height: 70vh;
                background-image: url('../../img/meemaBg.jpg'); 
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;   
                border: 1px solid rgba(0,0,0,1); 
                filter: drop-shadow(0px 0px 20px #000);

                .artistName {
                    font-size: .5em;
                    letter-spacing: 3px;
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    opacity: .5;
                }

                .artistSocial {
                    position: absolute;
                    width: 100%;
                    margin-bottom: 20px;
                    //display: none;
                    bottom: 0;
                    right: 0;

                    .artistLink {
                        display: inline-flex;
                        margin: 10px;
                        cursor: pointer;
                    
                        .artistLinkLogoRa {
                            width: 3em;
                            margin-bottom: 5px;
                            @media all and (max-width: 520px) {
                                width: 1.5em;
                            }
                        }
                        .artistLinkLogoSc {
                            width: 2em;
                            margin-right: 5px;
                            margin-bottom: 2px;
                            @media all and (max-width: 520px) {
                                width: 1em;
                            }
                        }
                        .artistLinkLogoInsta {
                            width: 1.9em;
                            margin-bottom: 2px;
                            @media all and (max-width: 520px) {
                                width: .9em;
                                margin-bottom: 4px;
                            }
                        }
                        &:hover {
                            filter: drop-shadow(0px 0px 10px white);
                        }
                    }

                }
            }
        }
    }
}

.pageContainer::-webkit-scrollbar {
    display: none;
}

