.artistPageContainer {
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    .artistContainer {
        background-color: black;
        width: min(80vw, 1500px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;  
        row-gap: 20px;
        column-gap: 20px;
        margin-bottom: 50px;

        .artist {
            width: 450px;
            border: 1px solid blue;

            img {
                max-width: 100%;
            }
        }
    } 
}

.artistPageContainer::-webkit-scrollbar {
    display: none;
}