.artistContainer {
    background-color: black;
    height: 100vh;  
    width: min(100vw, 1350px);
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid red;

    .artist {
        margin-top: 30px;
        width: 450px;

        img {
            max-width: 100%;
        }
    }
} 
