.welcome {  
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    min-width: 100vw;

    .container {
        padding: 5px 5px 5px 5px;
    }

    .link {
        display: inline-flex;
        padding: 0 10px 0 10px;
        cursor: pointer;
    }

    .logoInsta {
        width: .8em;
        margin-bottom: 2px;
    }

    .logoLinkTree {
        width: 1em;
    }

    .logoRa {
        width: 1.2em;
        margin-bottom: 4px;
    }

    .logoTelegram {
        width: 0.9em;
        margin-right: 5px;
        margin-bottom: 2px;
    }

    .artistLinks {
        text-align: right;
        position: fixed;
        top: 15px;
        right: 15px;
        display: block;
        cursor: pointer;
    } 
}