.welcome {  
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    min-width: 100vw;

    .artistLinks {
        width: 100vw;
        position: fixed;
        top: 5px;
        left: 0;
        display: block;
        .artistLink {
            display: inline-flex;
            padding: 0 10px 0 10px;
        }
    }

    .container {
        padding: 5px 5px 5px 5px;
    }

    .link {
        display: inline-flex;
        padding: 0 10px 0 10px;
    }

    .logo {
        width: 90vw;
    }
}