body {
  margin: 0;
  font-family: "Helvetica Neue";
  //overflow-y: hidden; 
}

.App {
  font-size: min(calc(7px + 2vmin), 25px);
  background-color: #000;
  color: white;
  min-height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);

  .swipe {
    display: none;
    z-index: 3;
    position: absolute;
    top: 50vh;
    background-color: black;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
    opacity: .75;
    display: table-cell;
    vertical-align: middle;

    @media all and (max-width: 520px) {
        display: block;
    }
}

}

.link {
  color: rgba(255, 255, 255, .95);
  cursor: pointer;
  text-decoration: none;
  transition: color .3s;
}

.link:hover {
  color: rgba(255, 255, 255, .75);
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  font-weight: 300;
}