@import '~antd/dist/antd.css';

.App {
  font-size: min(calc(7px + 2vmin), 25px);
  background-color: #000;
  color: white;
}

.App__main {
  min-height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

.App__flex {
  min-height: calc(var(--vh, 1vh) * 100);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  color: rgba(255, 255, 255, .95);
  cursor: pointer;
  text-decoration: none;
  transition: color .3s;
}

.link:hover {
  color: rgba(255, 255, 255, .75);
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  font-weight: 300;
}
