@schwerelos-green: #2BC487;
@schwerelos-purple: #9F44D9;
@schwerelos-pink: #F70069;

.eventsContainer {

    .background {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../../img/jornBg.gif'); 
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
        width: 100vw;
        height: 100vh;
    }

    .backgroundOpacity {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100vw;
        height: 100vh;
        opacity: .25;
    } 

    .imgSavetheDate {
        z-index: 3;
        position: absolute;
        left: 30px;
        top: 30px;
        height: 250px;
        max-height: 20vh;

        &:hover {
            filter: hue-rotate(0deg);
            animation-name: logoHover;
            animation-duration: 5s;
        }

        @keyframes logoHover {
            0%   {filter: hue-rotate(0deg) blur(0px); transform: rotate(0deg);}
            50%  {filter: hue-rotate(300deg) blur(4px); transform: rotate(180deg);}
            99%  {filter: hue-rotate(0deg);}
            100%  {filter: hue-rotate(0deg) blur(0px); transform: rotate(0deg);}
          }
    }

    .content {
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;

        .title {
            letter-spacing: 5px;
            font-size: 18px;
            font-weight: 300;
            padding: 20px;
            font-style: italic;
        }

        .table {
            width: 100vw;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 2px;
            .row {
                cursor: pointer;
                &:hover {
                    color: @schwerelos-purple;
                }            
                &:hover:nth-child(3n-1) {
            
                    color: @schwerelos-green;
                }            
                &:hover:nth-child(3n) {
                    color: @schwerelos-pink;
                }                
                .col_left {
                    width: 400px;
                    text-align: right;
                    display: inline-block;
                }
                .col_mid {
                    text-align: center;
                    display: inline-block;
                    width: 30px;
                }
                .col_right {
                    width: 400px;
                    text-align: left;
                    display: inline-block;
                }
            }
        }
    }
}