@schwerelos-green: #2BC487;
@schwerelos-purple: #9F44D9;
@schwerelos-pink: #F70069;

.eventsContainer {

    .background {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../../img/jornBg.gif'); 
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
        width: 100vw;
        height: 100vh;
    }

    .backgroundOpacity {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100vw;
        height: 100vh;
        opacity: .25;
    } 

    .imgSavetheDate {
        z-index: 3;
        position: absolute;
        left: 40px;
        top: 40px;
        height: 250px;
        max-height: 20vh;

        @media all and (max-width: 520px) {
            left: 15px;
            top: 15px;
            height: 100px;
          }

        &:hover {
            filter: hue-rotate(0deg);
            animation-name: logoHover;
            animation-duration: 5s;
        }

        @keyframes logoHover {
            0%   {filter: hue-rotate(0deg) blur(0px); transform: rotate(0deg);}
            50%  {filter: hue-rotate(300deg) blur(4px); transform: rotate(180deg);}
            99%  {filter: hue-rotate(0deg);}
            100%  {filter: hue-rotate(0deg) blur(0px); transform: rotate(0deg);}
          }
    }

    .content {
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18px;
        font-weight: 300;     
                
        @media all and (max-width: 520px) {
            font-size: 12px;
            font-weight: 400;    
          }

        .title {
            letter-spacing: 5px;
            font-style: italic;
        }

        .table {
            width: 100vw;
            letter-spacing: 2px;
            padding: 20px;

            .row {   
                padding-bottom: 5px;
                .col_left {
                    width: calc(50vw - 20px);
                    text-align: right;
                    display: inline-block;
                    vertical-align:top;
                }
                .col_mid {
                    text-align: center;
                    display: inline-block;
                    vertical-align:top;
                    width: 20px;
                }
                .col_right {
                    width: calc(50vw - 20px);
                    text-align: left;
                    vertical-align:top;
                    display: inline-block;
                }
            }
            .link {
                cursor: pointer;
            }
            .link:hover {
                color: @schwerelos-purple;
                font-weight: 400;
            }            
            .link:hover:nth-child(3n-1) {        
                color: @schwerelos-green;
            }            
            .link:hover:nth-child(3n) {
                color: @schwerelos-pink;
            }       
            
            .strikeThrough {
                text-decoration: line-through;
                text-decoration-color: rgba(255,255,255, .6);
            }
        }
    }
}