@schwerelos_purple: #9F44D9;

.pageMerchContainer {
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-image: linear-gradient(to bottom left, darken(@schwerelos_purple, 35%), @schwerelos_purple 50%, darken(@schwerelos_purple, 35%));

    .backgroundOpacity {
        display: block;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100vw;
        height: 100vh;
        opacity: .7;
    } 
    
    .merchContainer {
        
    }
}

.pageMerchContainer::-webkit-scrollbar {
    display: none;
}