.pageContainer {
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: min(80vw, 1500px);
}

.pageContainer::-webkit-scrollbar {
    display: none;
}